<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Hello World!</title>
        <link rel="stylesheet" type="text/css" href="components/photon/photon.min.css">  
    </head>
    <body>
        <script>
            var electron = require('electron');
        </script>
        <div id="telescope"></div>
        <% for (var index in htmlWebpackPlugin.options.injects) { %>
        <script src="<%= htmlWebpackPlugin.options.injects[index] %>"></script>
        <% } %>
        
    </body>
</html>
